<a href="{{config.href}}">
    <img class="visible-xs"
         src="{{config.xsSrc}}"
         alt="{{config.alt}}"
         style="width:100%">
    <img class="visible-sm"
         src="{{config.smSrc}}"
         alt="{{config.alt}}"
         style="width:100%">
    <img class="visible-md"
         src="{{config.mdSrc}}"
         alt="{{config.alt}}"
         style="width:100%">
    <img class="visible-lg"
         src="{{config.lgSrc}}"
         alt="{{config.alt}}"
         style="width:100%">
</a>
